.acit-timer {
	position: relative;
	float: left;
	line-height: 17px;
	clear: right;
	text-align: center;
	cursor: default;
	box-sizing: border-box;
	margin-top: 3px;
	margin-right: 7px;
}

.acit-timer-time {
	border-radius: 9px;
	box-sizing: border-box;
	clear: none;
	color: white;
	cursor: pointer;
	float: right;
	height: 19px;
	line-height: 19px;
	position: relative;
	text-align: center;
	transition: transform .1s ease;
	width: 48px;
	z-index: 1;
}

.acit-timer-time:hover {
	transform: scale(1.1);
}

.acit-timer-time:active {
	transform: scale(1);
}

.acit-timer-button {
	display: none;
	height: 19;
	line-height: 17px;
	color: black;
	float: right;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	margin-right: 4;
	background-color: white;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 0 4px 0 4px;
	user-select: none;
}

.acit-timer-menu {
	border: none;
	cursor: pointer;
	display: block;
	float: right;
	height: 16px;
	margin-left: 6px;
	margin-right: 6px;
	opacity: 0;
	position: relative;
	transition: opacity 0.3s linear;
	width: 30px;
}

.acit-timer-menu:hover {
	opacity: 1 !important;
}

.task_view_mode:hover .acit-timer-menu {
	opacity: 0.4;
}

.acit-timer-menu-dropdown {
	visibility: visible;
	display: block !important;
	left: -114px !important;
	text-align: left;
}

.acit-timer-menu-dropdown.positioned-above {
	bottom: 21px !important;
}

.acit-timer-menu-dropdown.positioned-below {
	top: 22px !important;
}

.acit-timer-menu-dropdown.positioned-above .popover_arrow {
	top: calc(100% - 1px);
	transform: rotateZ(180deg);
}

.acit-timer-menu-dropdown-input {
	margin-top: 10px;
	width: 100% !important;
	height: 32px;
	border-radius: 3px;
	border: 1px solid #d1d1d1;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 8px;
	font-size: 12px;
	resize: none;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.acit-timer-menu-dropdown-select {
	margin-top: 10px;
	width: 100%;
	background-color: white;
}

.acit-notifications {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999999;
}

.acit-notifications-notification {
	position: relative;
	width: 250px;
	height: auto;
	border: 1px solid #aaa;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 16px;
	margin: 16px;
	margin-bottom: 0;
	background-color: #f7f7f7;
	z-index: 999999;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 0px, rgba(0, 0, 0, 0.2) 0px 3px 10px 1px;
}

.acit-notifications-notification span {
	text-align: justify;
}

.acit-notifications-notification:hover .acit-notifications-notification-x {
	display: block;
}

.acit-notifications-notification-x {
	display: none;
	position: absolute;
	top: 2px;
	right: 2px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	text-align: center;
	line-height: 16px;
	font-weight: bold;
}

.profile_page .profile_page_tasks .profile_page_section_group .profile_page_section_group_label {
	padding-bottom: 0.5em;
}

/* Active Collab style overrides */

.task_list .task {
	position: relative;
}

.task_list_group:first-of-type .task_list:not(.subtask_list) {
	clear: left;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*
*	FIXES: 04.10.2019
*/
.v6-or-higher .profile_page_section_group_content {
	margin-left: 100px;
}
.v6-or-higher .acit-timer {
	padding-top: 5px;
}
.v6-or-higher .page_paper .tasks.sortable_enabled .acit-timer {
	margin-left: -48px !important;
}
.v6-or-higher .page_paper .tasks.sortable_enabled > ul > li {
	padding-left: 150px !important;
}
.v6-or-higher.self-hosted .page_paper .tasks.sortable_enabled .acit-timer {
	margin-left: -78px !important;
}
.v6-or-higher.self-hosted .page_paper .tasks.sortable_enabled > ul > li {
	padding-left: 30px !important;
}
